*{
    margin: 0;
    padding: 0;
}

:root{
    --primary: #ffc107;
    --pale: #f2f2f2;
    --dark: #081025;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.shadow{
    box-shadow: 10px 10px 20px rgba(0,0,0,.1), -5px -5px 20px rgba(133, 133, 133, 0.05);
    background-color: white;
}



*{
    border-radius: 4px;
    /* color: var(--dark); */
}

hr{
    opacity: .4;
    margin: 15px 0px;
}

.input{
    background: transparent;
}

.input:focus{
    background-color: var(--pale);
}

.btn-primary{
    background-color: var(--pale);
}

.btn-primary:hover{
    background-color: var(--primary);
}

.bg-img{
    background: url(./assets/bg.svg);
    background-position: center;
    background-size: cover;
}

.border-primary{
    border: 1px solid var(--pale);
}

.border-primary:hover{
    border-color: var(--primary);
}